/* A Modern CSS Reset */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
  margin: 0;
}

ul[role="list"], ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img, picture {
  max-width: 100%;
  display: block;
}

input, button, textarea, select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *, *::before, *::after {
    -webkit-animation-duration: .01ms !important;
            animation-duration: .01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: .01ms !important;
            transition-duration: .01ms !important;
    scroll-behavior: auto !important;
  }
}

a {
  text-decoration: none;
}

.nav__container {
  max-width: 810px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav__title {
  width: 120px;
  height: 40px;
  background-color: #393E46;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__logo {
  font-size: 22px;
  font-weight: bold;
  color: white;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__list * + * {
  margin-left: 30px;
}

.navItem__link {
  color: black;
  font-size: 14px;
}

.navItem__link:hover {
  opacity: 0.6;
}

.mainImage__container {
  height: 600px;
  margin-bottom: 90px;
}

.mainImage__image {
  background-image: url(images/2000x800.png);
  background-size: cover;
  width: 100%;
  height: 100%;
}

.about {
  padding-bottom: 100px;
}

.about__container {
  max-width: 810px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__container > * + * {
  margin-top: 80px;
}

.about__title {
  line-height: 1;
  padding-bottom: 8px;
  color: #393E46;
  font-size: 32px;
  font-weight: bold;
  border-bottom: 1px solid #393E46;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__content > * + * {
  margin-left: 30px;
}

.about__image {
  display: block;
  width: 100px;
  height: 100px;
  background-color: #393E46;
  border-radius: 50%;
}

.aboutTextContent {
  max-width: 395px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aboutTextContent__title {
  font-size: 16px;
  font-weight: bold;
  color: #393E46;
}

.aboutTextContent__description {
  font-size: 14px;
  line-height: 1.6;
  color: #393E46;
}

.bicycle {
  background-color: white;
  padding-bottom: 80px;
}

.bicycle__container {
  max-width: 810px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bicycle__container > * + * {
  margin-top: 80px;
}

.bicycle__title {
  line-height: 1;
  padding-bottom: 8px;
  color: #393E46;
  font-size: 32px;
  font-weight: bold;
  border-bottom: 1px solid #393E46;
}

.bicycle__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bicycle__list > * + * {
  margin-left: 18px;
}

.bicycleItem {
  width: calc((810px - 36px)/3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bicycleItem * + * {
  margin-top: 10px;
}

.bicycleItem__image {
  width: 100%;
  height: auto;
}

.bicycleItem__title {
  font-weight: bold;
}

.bicycleItem__description {
  font-size: 14px;
}

.footer {
  padding-bottom: 10px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copyright__text {
  font-size: 8px;
}
/*# sourceMappingURL=style.css.map */