/* A Modern CSS Reset */

*,*::before,*::after{box-sizing:border-box}body,h1,h2,h3,h4,p,figure,blockquote,dl,dd{margin:0}ul[role="list"],ol[role="list"]{list-style:none}html:focus-within{scroll-behavior:smooth}body{min-height:100vh;text-rendering:optimizeSpeed;line-height:1.5}a:not([class]){text-decoration-skip-ink:auto}img,picture{max-width:100%;display:block}input,button,textarea,select{font:inherit}@media(prefers-reduced-motion:reduce){html:focus-within{scroll-behavior:auto}*,*::before,*::after{animation-duration:.01ms !important;animation-iteration-count:1 !important;transition-duration:.01ms !important;scroll-behavior:auto !important}}

a {
    text-decoration: none;
}

// definition
$main_color: #393E46;

@mixin max-screen($break-point) {
    @media screen and (max-width: $break-point) {
        @content;
    }
}

.nav {
    &__container {
        max-width: 850px;
        margin: 0 auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    &__content {
        margin-left: 16px;
        margin-right: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        width: 120px;
        height: 40px;
        background-color: $main_color;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__logo {
        font-size: 22px;
        font-weight: bold;
        color: white;
    }

    &__list {
        display: flex;

        & * + * {
            margin-left: 30px;
        }
    }
}

.navItem {
    &__link {
        color: black;
        font-size: 14px;

        &:hover {
            opacity: 0.6;
        }
    }
}

.mainImage {
    &__container {
        height: 600px;
        margin-bottom: 90px;

        @include max-screen(600px) {
            height: 790px;
        }
    }

    &__image {
        background-image: url(images/2000x800.png);
        background-size: cover;
        width: 100%;
        height: 100%;
    }
}

.main {
    width: 100%;

    &__container {
        max-width: 850px;
        margin: 0 auto;
    }

    &__content {
        margin-left: 20px;
        margin-right: 20px;
    }
}

.about {
    padding-bottom: 100px;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;

        & > * + * { //再利用可能なモジュールに余白持たせるの微妙な気がしたのでコンテナ->モジュールの向きで配置を決定
            margin-top: 80px;
        }
    }

    &__title {
        line-height: 1;
        padding-bottom: 8px;;
        color: #393E46;
        font-size: 32px;
        font-weight: bold;
        border-bottom: 1px solid $main_color;
    }

    &__content {
        display: flex;
        justify-content: center;

        & > * + * {
            margin-left: 30px;
        }

        @include max-screen(600px) {
            flex-direction: column;
            align-items: center;

            & > * + * {
                margin-left: 0;
                margin-top: 20px;
            }
        }
    }

    &__image {
        display: block;
        width: 100px;
        height: 100px;
        background-color: $main_color;
        border-radius: 50%;
    }
}

.aboutTextContent {
    max-width: 395px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__title {
        font-size: 16px;
        font-weight: bold;
        color: $main_color;
    }

    &__description {
        margin-top: 16px;
        font-size: 14px;
        line-height: 1.6;
        color: $main_color;
    }
}

.bicycle {
    width: 100%;
    background-color: white;
    padding-bottom: 80px;
    
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;

        & > * + * {
            margin-top: 80px;
        }
    }

    //aboutとコンポーネント化したい
    &__title {
        line-height: 1;
        padding-bottom: 8px;;
        color: #393E46;
        font-size: 32px;
        font-weight: bold;
        border-bottom: 1px solid $main_color;
    }

    &__content {
        width: 100%;
    }

    &__list {
        display: flex;
        justify-content: space-between;

        & > * + * {
            margin-left: 18px;
        }

        @include max-screen(600px) {
            flex-direction: column;
            margin-left: 26px;
            margin-right: 26px;

            & > * + * {
                margin-left: 0;
                margin-top: 30px;
            }
        }
    }

    &__item {
        width: calc((100% - 36px)/3);

        @include max-screen(600px) {
            width: 100%;
        }
    }
}

.bicycleItem {
    display: flex;
    flex-direction: column;
    align-items: center;

    & * + * {
        margin-top: 10px;
    }

    &__image {
        width: 100%;
        height: auto;
    }

    &__title {
        font-weight: bold;
    }

    &__description {
        font-size: 14px;
    }
}

.footer {
    padding-bottom: 10px;
    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.copyright {
    &__text {
        font-size: 8px;
    }
}