/* A Modern CSS Reset */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
  margin: 0;
}

ul[role="list"], ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img, picture {
  max-width: 100%;
  display: block;
}

input, button, textarea, select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *, *::before, *::after {
    -webkit-animation-duration: .01ms !important;
            animation-duration: .01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: .01ms !important;
            transition-duration: .01ms !important;
    scroll-behavior: auto !important;
  }
}

a {
  text-decoration: none;
}

.l-body {
  width: 100%;
  margin-top: 110px;
}

.l-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.l-column--inline {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.l-column__item35 {
  margin-bottom: 35px;
}

.l-column__item35:last-child {
  margin-bottom: 0;
}

.l-column__item60 {
  margin-bottom: 60px;
}

.l-column__item60:last-child {
  margin-bottom: 0;
}

.l-column__item80 {
  margin-bottom: 80px;
}

.l-column__item80:last-child {
  margin-bottom: 0;
}

.l-container {
  margin: 0 auto;
  width: 100%;
  max-width: 1170px;
  overflow: hidden;
}

.l-content {
  width: 65%;
}

.l-grid3 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.l-grid3__item {
  width: calc((100% - 50px) / 3);
  margin-right: 25px;
}

.l-grid3 > :nth-child(3n) {
  margin-right: 0;
}

.l-header {
  width: 100%;
  height: 107px;
  position: fixed;
  top: 0;
}

.l-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  margin-top: 70px;
}

.l-pickup {
  width: 100%;
  margin-top: 40px;
}

.l-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.l-sidebar {
  width: 30%;
}

.l-vCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-logo {
  font-size: 28px;
}

.c-text {
  font-size: 14px;
}

.c-text--bold {
  font-weight: bold;
}

.c-text--title {
  font-size: 24px;
  font-weight: bold;
}

.c-text--body {
  font-size: 16px;
}

.c-text--mediumTitle {
  font-size: 16px;
  font-weight: bold;
}

.c-text--headline {
  font-size: 18px;
  font-weight: bold;
}

.c-text__border {
  width: 100%;
  height: 1px;
}

.c-thumbnail {
  width: 100%;
}

.c-thumbnail__circle {
  border-radius: 50%;
}

.p-archiveList {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.p-archiveList__title {
  margin-bottom: 30px;
}

.p-archiveList__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.p-archiveList__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #333333;
}

.p-archiveList__item:first-child {
  border-top: 1px solid #333333;
}

.p-archiveList__text {
  margin-left: 20px;
}

.p-card--mini {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.p-card--mini__thumbnail {
  width: 100%;
}

.p-card--mini__title {
  margin-top: 8px;
  color: #333333;
  width: calc(100% - 10px);
}

.p-card--medium__thumbnail {
  width: 100%;
}

.p-card--medium__title {
  color: #333333;
}

.p-card--medium__link {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.p-card--medium__linkText {
  line-height: 1.2;
  color: #333333;
}

.p-card--medium__linkBorder {
  background-color: #333333;
}

.p-card__title {
  color: #333333;
}

.p-card__info {
  color: #333333;
}

.p-card__thumbnail {
  width: 100%;
}

.p-card__text {
  width: calc(100% - 80px);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.p-card__link {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.p-card__linkText {
  line-height: 1.2;
  color: #333333;
}

.p-card__linkBorder {
  background-color: #333333;
}

.p-header__top {
  height: 70px;
}

.p-header__bottom {
  height: 40px;
  background-color: #333333;
}

.p-nav {
  width: 100%;
  height: 100%;
}

.p-nav__list {
  width: 100%;
  height: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.p-nav__item {
  margin-right: 60px;
  color: white;
}

.p-nav__item:last-child {
  margin-right: 0;
}

.p-profile {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.p-profile__thumbnail {
  width: 130px;
  height: 130px;
}

.p-rankingList {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.p-rankingList__title {
  margin-bottom: 33px;
}

.p-rankingList__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.p-rankingList__item {
  margin-bottom: 28px;
}

.p-rankingList__item:last-child {
  margin-bottom: 0;
}

.u-mt30 {
  margin-top: 30px;
}

.u-mt20 {
  margin-top: 20px;
}

.u-mt15 {
  margin-top: 15px;
}

.u-mt10 {
  margin-top: 10px;
}
/*# sourceMappingURL=app.css.map */