.p-about {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    &__title {
        color: $black;
    }

    &__text {
        color: $black;
    }

    &__link {
        
    }

    &__linkText { //親要素からはみ出るので良くない
        left: 12px;
    }
}