.p-copyright {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include max-screen(767px) {
        margin-top: 70px;
    }

    &__text {
        color: $black;
    }
}