.l-column {
    display: flex;
    flex-direction: column;

    &--inline {
        display: inline-flex;
        flex-direction: column;
    }

    &__item80 {
        margin-bottom: 80px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}